body {
  background-color: #121212;
  color: white;
}

a {
  color: white;
}

.App {
  text-align: center;
}
.logo {
  color: aqua;
  font-weight: bold;
}
.usersState button{
  padding: 4rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;  
}
.movie-list {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
}

.nav-bar,
.top-bar {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
